.video-js {
  background-color: #212121;
  font-family: sans-serif;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  position: relative;
  display: block;
  overflow: hidden;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 16px;
}

.video-js:-webkit-full-screen {
  height: 100vh !important;
  width: 100vw !important;
  border-radius: 0;
}
.video-js:-webkit-full-screen > video {
  border-radius: 0;
  height: 100vh !important;
  width: 100vw !important;
}
.video-js:-moz-full-screen {
  height: 100vh !important;
  width: 100vw !important;
  border-radius: 0;
}
.video-js:-moz-full-screen > video {
  border-radius: 0;
  height: 100vh !important;
  width: 100vw !important;
}
.video-js:-ms-full-screen {
  height: 100vh !important;
  width: 100vw !important;
  border-radius: 0;
}
.video-js:-ms-full-screen > video {
  border-radius: 0;
  height: 100vh !important;
  width: 100vw !important;
}
.video-js:full-screen {
  height: 100vh !important;
  width: 100vw !important;
  border-radius: 0;
}
.video-js:full-screen > video {
  border-radius: 0;
  height: 100vh !important;
  width: 100vw !important;
}

.video-js > video {
  border-radius: 3px;
}
.video-js--controls {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: opacity .4s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.video-js--controls:hover, .video-js--paused {
  opacity: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .8));
}
.video-js--longOver {
  opacity: 0 !important;
}
.video-js--title {
  display: block;
  margin: 20px;
  margin-bottom: 5px;
  font-size: 18px;
  white-space: nowrap;
  height: 24px;
  font-weight: bold;
  overflow: hidden;
}
.video-js--author {
  display: block;
  color: #ddd;
  margin: 20px;
  margin-top: 0;
  font-size: 14px;
  white-space: nowrap;
  height: 20px;
  font-weight: bold;
  overflow: hidden;
}
.video-js--cursorPointer {
  cursor: pointer;
}
.video-js--playPause {
  display: inline-block;
  vertical-align: bottom;
  margin: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
.video-js--duration {
  display: inline-block;
  vertical-align: bottom;
  margin: 20px 5px;
  text-align: center;
  width: 60px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 50px;
  font-size: 14px;
}
.video-js--fullscreen {
  display: inline-block;
  vertical-align: bottom;
  margin: 20px;
  text-align: center;
  width: 20px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
}
